.node {
  cursor: move;
  fill: #ccc;
  stroke: #000;
  stroke-width: 2px;
}

.accept {
  stroke: #004F00;
  stroke-width: 2.5px;
}

.initial {
  stroke: #003F87;
  stroke-width: 2.5px;
}

.link {
  stroke: #000000;
  fill: none;
  stroke-width: 2px;
  marker-end:'url(#Triangle)'
}

#svg {
  user-select: none;
  -moz-user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select:none;
  cursor: pointer;
}
